h1{
  color: red; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: contents;

}
.enter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  color: green;
}
input, button {
  width: 50%;
  margin: 2%;
  padding: 1%;
}
.title:hover .enter {
display: block;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 5%;
}
h3 {
  color: aquamarine;
  border-color: blueviolet;
  
}
.h1:hover {
display: inline;
background-color: yellow;
text-emphasis-color: white;
}
h1 button {
  text-indent: 25%;

  
}
body {
    background-color: #000000;
    justify-content: flex-start;
    motion-rotation:hover 15%;
}
.a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.items{
  display: grid;
  font-stretch: extra-expanded;
  color: blueviolet;
  touch-action: pinch-zoom;

}

p {
    font-size: 25px;
    font-style: oblique;
    color: aliceblue;
}

@media screen and (min-width: 500px)
